html {
  font-family: 'Open Sans', sans-serif;
  padding-left: 3%;
  padding-right: 3%;
}

.code {
  font-family: 'Ubuntu Mono', monospace;
}

.nav {
  color: white;
  font-size: 2em;
  padding: 0.5em;
  background-color: darkslategray;
  width: 95%;
}

.nav-link {
  float: right;
  font-size: 0.5em;
  padding-left: 1em;
  padding-top: 1.5em;
}

.nav-link a:link, a:visited {
  color: white;
  text-decoration: none;
}

.nav-link a:hover {
  color: blue;
  text-decoration: underline;
}

#winning {
  font-size: 140%;
}

.stats-title {
  font-size: 140%;
  padding-bottom: 1em;
}

.watch {
  padding-top: 1em;
  display: inline-block;
}

@media only screen and (min-width: 800px){
  .stats {
    float: right;
    padding-left: 2em;
    font-size: 90%;
  }
}

@media only screen and (max-width: 800px){
  .stats {
    float: none;
  }
}

@media only screen and (max-width: 800px) {
  html {
      padding-left: 0;
      padding-right: 0;
  }
  .nav-link {
      visibility: hidden;
  }
}


